body {
    background-color: #111111;
  }
  
  .canvas {
    display: block;
    position: relative;
    width: 600px;
    height: 420px;
    border-radius: 5px;
  }

  .dot {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 200px;
  }