@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap');
@import './../../varaiables.css';

body {
    height: 100vh;
    overflow: hidden;
  }
  
  .btn {
    background: var(--btn-color);
    transition: background-color 0.4s ease-in-out; 
  }

  .btn:hover {
    background: var(--btn-hover-color); /* Color when hovered */
  }
  
  .btn:active {
    background: var(--btn-active-color); /* Color when clicked */
    transition: background-color 0.4s ease-in-out; 
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
  }
  
  .circle {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px var(--dot-color);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: var(--background-color);
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
  }

  
  .master{
    color:  var(--dot-color);
    float:right;
  }
  
  @media (max-width:900px){
    .master{
      display:none
    }
  }